[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djoser = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
mysqlclient = "*"
pillow = "*"
python-decouple = "*"
drf-nested-routers = "*"
django-seed = "*"
psycopg2 = "*"
faker = "*"
django-debug-toolbar = "*"
django-filter = "*"
django-autoslug = "*"

[dev-packages]

[requires]
python_version = "3.12"
